{% extends "base.html" %}
{% from "macros.html" import search_bar, user_avatar_linked, user_post with context%}

<!-- SEARCH BAR -->
{% block content_header %}
    {{ search_bar(sb) }}
{% endblock %}

{% block content %}
    <div style="background-color: var(--color-header);">
        <table>
            <td class="user-av-med" style="padding: 0.5em">
                {{ user_avatar_linked(current_user) }}
            </td>
            <td style="padding: 0.5em">
                Hi, {{ current_user.display_name }}. Let's get stalking!
                <br>
                <a href="{{ url_for('post') }}">Create new post</a>
            </td>
        </table>
    </div>

    {% for post in current_user.stalked_submissions() %}
        <p>{{ user_post(post) }}</p>
    {% endfor %}
{% endblock %}