{% extends "base.html" %}
{% from "macros.html" import search_bar, user_avatar_linked, user_submission with context%}

<!-- SEARCH BAR -->
{% block content_header %}
    {{ search_bar(sb) }}
{% endblock %}

{% block content %}
    <div class="dashboard-header">
        <table>
            <td class="user-av-med" style="padding: 0.5em">
                {{ user_avatar_linked(current_user) }}
            </td>
            <td style="padding: 0.5em">
                Hi, {{ current_user.display_name }}. Let's get stalking!
                <br>
                <a href="{{ url_for('post') }}">Create new post</a>
            </td>
        </table>
    </div>
    <div class="dashboard-quick-links">
        <a href="{{ url_for('categories') }}">Manage categories</a><br>
        <a href="{{ url_for('liked_posts') }}">Liked posts</a><br>
        <a href="{{ url_for('stalklist', username = current_user.username, category = 'none', rel = 'stalking') }}">My stalklist</a><br>
        <a href="{{ url_for('stalklist', username = current_user.username, category = 'none', rel = 'stalkers') }}">My stalkers</a><br>
    </div>

    {% for post in current_user.stalked_submissions() %}
        <p>{{ user_submission(post) }}</p>
    {% endfor %}
{% endblock %}