{% extends "base.html" %}
{% from "macros.html" import flashes %}
{% block content %}
    <div class="login-container">
        <p>
            <span class="headline">Come <span class="highlight">stalk</span> your friends.</span><br>
            <span class="tagline">We know you want to ;)</span>
        </p>
        <p><form action="" method="POST">
            {{ form.hidden_tag() }}
            {{ form.email(maxlength=254, placeholder=form.email.description) }}<br>
            {{ form.password(placeholder=form.password.description) }}<br>
            {{ form.remember.label }}
            {{ form.remember }}
            {{ form.submit }}
        </form></p>
        {{ flashes() }}
        <hr>
        <p>  
            Don't have an account yet?<br>
            Grab your binoculars ∞
            <a href="{{ url_for('register') }}">Register here!</a>
        </p>
    </div>       
{% endblock %}