<head>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

{% macro stalkback_logo() -%}
    <span class="header-logo-bino"><span class="highlight">o</span>o</span>
{%- endmacro %}

{% macro flashes(desc) -%}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes-container">
                <fieldset class="info-box">
                    {% if desc %}
                        <legend>{{ desc }}</legend>
                    {% endif %}
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </fieldset>
            </div>
        {% endif %}
    {% endwith %}
{%- endmacro %}

{% macro footer_link(text, url, svg_path) -%}
    <span class="footer-link">
        {% if svg_path %}
            <div class="svg-icon-container">
                <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24">
                    <title>{{ text }}</title>
                    <path d="{{ svg_path }}"></path>
                </svg>
            </div>
        {% endif %}
        <a href="{{ url }}" target="_blank">{{ text }}</a>
    </span>
{%- endmacro %}

{% macro search_bar(form) -%}
    <div class="search-container">
        <form action="" method="POST">
            {{ form.search_query(placeholder=form.search_query.description) }}
            {{ form.search }}
        </form>
    </div>
{%- endmacro %}

{% macro menu_window() -%}
    <div id="menu-container">
        <a href="{{ url_for('profile', username = current_user.username) }}" class="menu-link"><div class="menu-item">My Profile</div></a>
        <a href="{{ url_for('dashboard') }}" class="menu-link"><div class="menu-item">Dashboard</div></a>
        <a href="{{ url_for('settings') }}" class="menu-link"><div class="menu-item">Settings</div></a>
        <a href="{{ url_for('logout') }}" class="menu-link"><div class="menu-item">Log Out</div></a>
    </div>
{%- endmacro %}

<!-- USER SUBMISSION POST -->
{% macro user_submission(p) -%}
    <div class="post submission">
        <div class="post-title-container">
            <table><tr>
                <td class="user-av-med">
                    {{ user_avatar_linked(p.author) }}</td>
                <td class="post-title">
                        {% if p.category != "default" %}
                            <a href="{{ url_for('profile', username = p.author.username, category = p.category) }}" class="small-text" style="text-decoration: none;">
                            > {{ p.author.username }} / {{ p.category }}</a>
                        {% else %}
                            <a href="{{ url_for('profile', username = p.author.username) }}" class="small-text" style="text-decoration: none;">
                            > {{ p.author.username }}</a> 
                        {% endif %}
                    </a><br>
                    <span style="font-size: 2em;">{{ p.title }}</span><br>
                    <span class="small-text">{{ p.timestamp.strftime("%a, %d %b %Y, %I:%M:%S %p") }}</span>
                </td>
            </tr></table>
        </div>

        {% if p.content %}
            <div class="post-content">
                image here
            </div>
        {% endif %}

        {% if p.desc %}
            <div class="post-desc">
                <div class="post-user-container">
                    {{ user_avatar_linked(p.author) }}<br>
                    {{ user_dname_linked(p.author) }}</div>
                <div class="post-desc-container">
                    {{ p.desc }}
                </div>
            </div>
        {% endif %}

        <div class="post-footer">
            <!-- POST OPTIONS MENU -->
            {% if p.author == current_user %}
                <td><svg class="post-options-button" onclick="toggleColor(this, 'rgb(var(--color-text))', 'rgb(var(--color-highlight))'); toggleElDisplay('post-options-menu', this, 'post-footer')" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.96 122.88">
                        <title>Options</title>
                        <path d="M15,0A15,15,0,1,1,0,15,15,15,0,0,1,15,0Zm0,92.93a15,15,0,1,1-15,15,15,15,0,0,1,15-15Zm0-46.47a15,15,0,1,1-15,15,15,15,0,0,1,15-15Z"/>
                    </svg></td>
                    <div class="post-options-menu">
                        <form class="post-info-form" action="" method="POST">
                            {{ post_int.csrf_token() }}
                            {{ post_int.post_id(value=p.id) }}
                            <button class="post-options-menu-item">Edit</button>
                            <button class="post-options-menu-item" onclick="return deletePost(this)">
                                Delete
                            </button>
                        </form>
                    </div>
            {% endif %}
            {{ post_int_tools(p) }}
            {{ replies_list(p, p) }}
        </div>
    </div>
{%- endmacro %}

<!-- POST FOOTER TOOLs -->
{% macro post_int_tools(p) %}
    <form class="post-info-form" method="POST">
        {{ post_int.csrf_token() }}
        {{ post_int.post_id(value=p.id) }}
        
        <!-- COMMENT BUTTON -->
        <div class="svg-icon-container clickable comment-icon" onclick="toggleElDisplay('reply-container', this, 'post-info-form'); displayComments(this)">
            {{ comment_icon() }}
        </div>
        <span class="comment-count">{{ p.replies.count() }}</span>
        
        <!-- LIKE BUTTON -->
        <button class="like-button post-tool-padding" onclick="return toggleLike(this)">
            {% if not p.is_liked_by(current_user) %}
                <div class="svg-icon-container clickable like-icon" title="Like">{{ unliked_icon() }}</div>
                <div class="svg-icon-container clickable like-icon liked-icon" title="Unlike" style="display:none;">{{ liked_icon() }}</div>
            {% else %}
                <div class="svg-icon-container clickable like-icon" title="Like" style="display:none;">{{ unliked_icon() }}</div>
                <div class="svg-icon-container clickable like-icon liked-icon" title="UnLike">{{ liked_icon() }}</div>
            {% endif %}
        </button>
        <span class="like-count">{{ p.liked_by | length }}</span>
        
        <!-- COMMENTS -->
        <div class="reply-container">
            {{ post_int.comment(rows="5", placeholder=post_int.comment.description, maxlength="10000") }}
            <div class="reply-tools-container">
                <button class="input-button-standard input-button-mid-color" onclick="return replyToPost(this)" style="margin:0.5em; float:right;">submit</button>
            </div>
        </div>
    </form>
{%- endmacro %}

<!-- USER COMMENT POST -->
{% macro user_comment(c, submission) -%}
    <div class="post comment {{ 'op' if c.author == submission.author else 'not-op' }}" style="margin-bottom:1em;">
        <div class="small-text comment-date">{{ c.timestamp.strftime("%a, %d %b %Y, %I:%M:%S %p") }}</div>
        <div class="post-desc">
            <div class="post-user-container">
                {{ user_avatar_linked(c.author) }}<br>
                <span class="comment-username {{ 'op' if c.author == submission.author else 'not-op' }}">{{ user_dname_linked(c.author) }}</span>
            </div>
            <div class="post-desc-container">
                {{ c.desc }}
            </div>
        </div>
        <div class="post-footer">
            {{ post_int_tools(c) }}
            {{ replies_list(c, submission) }}
        </div>
    </div>
{%- endmacro %}

<!-- COMMENT REPLIES -->
{%- macro replies_list(p, submission) %}
    <div class="comments-container">
        {% for r in p.replies %}
            {{ user_comment(r, submission) }}
        {% endfor %}
    </div>
{%- endmacro %}

{% macro user_avatar_linked(user) -%}
<a href="{{ url_for('profile', username = user.username) }}">
    <img src="{{ user.avatar_url }}" class="user-av-med"></a>
    {%- endmacro %}
    
{% macro user_dname_linked(user) -%}
    <a href="{{ url_for('profile', username = user.username) }}">
        {{ user.display_name }}</a>
{%- endmacro %}

{% macro unliked_icon() -%}
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 107.68">
        <g><path d="M61.43,13.53C66.76,7.51,72.8,3.69,78.96,1.69c6.48-2.1,13.07-2.15,19.09-0.6c6.05,1.55,11.52,4.72,15.74,9.03 c5.58,5.7,9.09,
                13.36,9.09,22.02c0,13.7-6.6,26.75-17.42,39.37c-10.14,11.83-24.05,23.35-39.61,34.73 c-2.58,1.89-5.98,1.88-8.5,0.22l0,0.01l-0.03-0.02l0,
                0.01l-0.02-0.01l-0.21-0.15c-4.46-2.92-8.75-5.91-12.8-8.94 c-4.05-3.03-8.01-6.22-11.83-9.56C12.58,70.42,0,51.4,0,32.13c0-8.8,
                3.44-16.44,8.93-22.08c4.25-4.37,9.73-7.51,15.79-9.03V1.02 c5.99-1.5,12.57-1.4,19.05,0.69C49.99,3.71,56.09,7.54,61.43,13.53L61.43,
                13.53L61.43,13.53z M83.51,15.87 C78.02,17.65,72.51,22.02,68,29.78c-0.63,1.19-1.6,2.21-2.85,2.93c-3.56,
                2.05-8.11,0.82-10.15-2.74 c-4.5-7.82-10.14-12.27-15.78-14.08c-3.71-1.19-7.46-1.25-10.88-0.4l0,0l-0.02,0c-3.35,0.83-6.37,2.56-8.7,
                4.95 c-2.87,2.95-4.67,7-4.67,11.7c0,14.53,10.59,29.82,27.3,44.43c3.28,2.87,6.95,5.82,10.95,8.81c2.61,1.96,5.35,3.92,8.04,5.74 c13.03-9.76,
                24.53-19.53,32.9-29.3c8.58-10,13.8-19.92,13.8-29.68c0-4.55-1.84-8.58-4.76-11.57c-2.38-2.42-5.43-4.2-8.8-5.06 C90.98,14.63,87.23,14.67,83.51,
                15.87L83.51,15.87L83.51,15.87z"/></g></svg>
{%- endmacro %}

{% macro liked_icon() -%}
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 107.41">
        <style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;}</style>
        <g><path class="st0" d="M60.83,17.19C68.84,8.84,74.45,1.62,86.79,0.21c23.17-2.66,44.48,21.06,32.78,44.41 c-3.33,6.65-10.11,14.56-17.61,
                                22.32c-8.23,8.52-17.34,16.87-23.72,23.2l-17.4,17.26L46.46,93.56C29.16,76.9,0.95,55.93,0.02,29.95 C-0.63,11.75,13.73,
                                0.09,30.25,0.3C45.01,0.5,51.22,7.84,60.83,17.19L60.83,17.19L60.83,17.19z"/></g></svg>
{%- endmacro %}

{% macro comment_icon() -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.97 122.88">
        <title>Comment</title>
        <path d="M61.44,0a61.46,61.46,0,0,1,54.91,89l6.44,25.74a5.83,5.83,0,0,1-7.25,7L91.62,115A61.43,61.43,0,1,1,61.44,0ZM96.63,26.25a49.78,
                49.78,0,1,0-9,77.52A5.83,5.83,0,0,1,92.4,103L109,107.77l-4.5-18a5.86,5.86,0,0,1,.51-4.34,49.06,49.06,0,0,0,4.62-11.58,50,50,0,
                0,0-13-47.62Z"/></svg>
{%- endmacro %}
