{% extends "base.html" %}
{% from "macros.html" import user_post with context %}

{% block content_header %}
    <div class="prof-header">
        <img class="user-av" src="{{ user.avatar_url }}">
        <p>
            <span style="font-size: 1.5em;">{{ user.display_name }}<br>
                <a class="no-underline" href="{{ url_for('profile', username = user.username) }}">(@{{ user.username }})</a></span><br>
            <span class="small-text">tagline here</span>
        </p>
    </div>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <p>{{ user_post(post) }}</p>
    {% endfor %}
{% endblock %}