{% extends "base.html" %}
{% from "macros.html" import flashes, search_bar, user_avatar_linked %}

{% block content_header %}
    {{ search_bar(sb) }}
{% endblock %}

{% block content %}
    {{ flashes() }}
    {% if res %}
        <table class="list-results">
            {% for r in res %}
                <tr>
                    <td class="user-av-med">
                        {{ user_avatar_linked(r) }}
                    </td>
                    <td>
                        <a href="{{ url_for('profile', username = r.username) }}">
                            <div>
                                <span class="default-text">{{ r.display_name }}</span><br>
                                <span class="small-text">@{{ r.username }}</span>
                            </div>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}