{% extends "base.html" %}
{% from "macros.html" import flashes %}
{% block content %}
    <head>
        <script src="{{ url_for('static', filename='script.js') }}"></script> 
    </head>
    <h1>Settings</h1>
    <fieldset class="simple-form">
        {{ flashes() }}
        <br>
        <div style="margin: auto; width: 100%; text-align: center;">
            <img src="{{ current_user.avatar_url }}" style="width: 100px;"><br>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            <input type="file" name="uploaded_avatar" accept=".png,.jpg">
            <input type="submit" value="Upload avatar">
        </form>

        <p><form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            {{ form.display_name.label }}
            {{ form.display_name(minlength=1, maxlength=32, value=current_user.display_name) }}<br>
            
            {{ form.password.label }}
            {{ form.password }}<br>

            {{ form.password_new.label }}
            {{ form.password_new }}<br>

            {{ form.password_check.label }}
            {{ form.password_check }}<br>

            {{ form.submit }}
        </form></p>
    </fieldset>
    <h3><a href="{{ url_for('dashboard') }}">Return to dashboard</a></h3>
    <h3><a href="{{ url_for('logout') }}">Log out</a></h3>
    <h3><a href="javascript:deleteConfirmation();">Delete account</a></h3>
    <div id="delete-confirm">
        <fieldset class="info-box">
            <p>
                Enter password to confirm account deletion.<br>
                <span class="warning">*Warning* This is PERMANENT</span>
            </p>
            <form action="" method="POST">
                {{ form_delete.password_del(placeholder=form_delete.password_del.description) }}
                {{ form_delete.del_confirmation }}
            </form>
        </fieldset>
    </div>
    
{% endblock %}